<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Driver Profile</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
</head>
<body>
<%- include('../partials/_navbar.ejs') %>

<div class="driver-card">
    <div class="driver-image-container">
        <img src="/images/drivers/<%= drivers.name %>.jpg" alt="<%= drivers.name %>" class="driver-image" />

    </div>
    <div class="driver-details">
        <h1><%= drivers.name %></h1>
        <h3>Age: <%= drivers.age %></h3>
        <h3>Nationality: <%= drivers.nationality %></h3>
    </div>
</div>
</body>
</html>
