<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Team Details</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
</head>
<body>
<%- include('../partials/_navbar.ejs') %>

<!-- Card container for the team details -->
<div class="team-container">
    <h1><%= teams.name %></h1>
    <p><strong>Country:</strong> <%= teams.country %></p>
    <p><strong>Engine:</strong> <%= teams.engineSupplier %></p>

    <% if (teams.drivers && teams.drivers.length > 0) { %>
        <div class="team-drivers">
            <h3>Drivers:</h3>
            <ul>
                <% teams.drivers.forEach((driver) => { %>
                    <li>
                        <p>Name: <%= driver.name %></p>
                        <p>Age: <%= driver.age %></p>
                        <p>Nationality: <%= driver.nationality %></p>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <% if (teams.races && teams.races.length > 0) { %>
        <div class="team-races">
            <h3>Race:</h3>
            <ul>
                <% teams.races.forEach((race) => { %>
                    <li>
                        <p><%= race.name %> - <%= race.location %></p>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% } %>

    <div class="team-actions">
        <form action="/dashboard/team/<%= teams._id %>?_method=DELETE" method="POST" class="action-form">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <a href="/dashboard/team/<%= teams._id %>/edit" class="btn btn-secondary">Edit</a>
    </div>

</div>
</body>
</html>
