<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race Details</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
<div class="race-card">
    <div class="race-details">
        <h1><%= races.name %></h1>
        <p><strong>Location:</strong> <%= races.location %></p>
    </div>
    <div class="race-image-container">
        <img src="/images/races/<%= races.name %>.jpg" alt="<%= races.name %>" class="race-image" />
    </div>
</div>
</body>
</html>
